Repository elifTech/vinnytsia-school-2020-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --no-ignore --fix, git add --force, prettier --write, stylelint --fix

superheroes' form test
  .eslintrc.js
  package.json
  src/initial-state.json
  src/routes/dashboard/CustomField.test.js
  src/routes/dashboard/Dashboard.test.js
  src/routes/dashboard/SuperheroesForm.js
  src/routes/dashboard/SuperheroesForm.test.js
  yarn.lock
Due: eslint --no-ignore --fix, git add --force, prettier --write

-webcam route
  src/routes/index.js
Due: eslint --no-ignore --fix, git add --force

update reducer, component ImageAttachment, listener in Chat
  src/actions/security-chat.js
  src/reducers/chat.js
  src/routes/chat/Chat.js
  src/routes/chat/components/message/Message.css
  src/routes/chat/components/message/Message.js
  src/routes/chat/components/message/components/ImageAttachment.css
  src/routes/chat/components/message/components/ImageAttachment.js
  src/routes/chat/components/messages/Messages.js
Due: eslint --no-ignore --fix, git add --force, stylelint --fix

redux-form example merged
  package.json
  src/actions/.keep
  src/actions/as.js
  src/actions/calc-table.js
  src/reducers/as.js
  src/reducers/calc-table.js
  src/reducers/index.js
  src/routes/dashboard/Cell.js
  src/routes/dashboard/CustomField.js
  src/routes/dashboard/Dashboard.css
  src/routes/dashboard/Dashboard.js
  src/routes/dashboard/Row.js
  src/routes/dashboard/SuperheroesForm.css
  src/routes/dashboard/SuperheroesForm.js
  src/routes/index.js
  yarn.lock
Due: eslint --no-ignore --fix, git add --force, prettier --write, stylelint --fix

redux-form example
  yarn.lock
Due: none

merge branch master 24, 2020
  src/reducers/index.js
  yarn.lock
Due: eslint --no-ignore --fix, git add --force

removed p-l.json
  package-lock.json
  package.json
Due: git add --force, prettier --write

changed route name and structure, added HomeView component and starded using redux
  package.json
  src/actions/window-sensors.js
  src/constants/index.js
  src/reducers/window-sensors.js
  src/routes/index.js
  src/routes/window-sensors/components/WindowSensor.js
  src/routes/window-sensors/test-window-data.json
  src/routes/windows-protection/WindowProtection.js
  src/routes/windows-protection/components/HomeView/HomeView.css
  src/routes/windows-protection/components/HomeView/HomeView.js
  src/routes/windows-protection/components/HomeView/Images/break-sensor.svg
  src/routes/windows-protection/components/HomeView/Images/house-plan.png
  src/routes/windows-protection/components/HomeView/Images/open-close-sensor.svg
  src/routes/windows-protection/components/HomeView/WindowSensor/WindowSensor.css
  src/routes/windows-protection/components/HomeView/WindowSensor/WindowSensor.js
  src/routes/windows-protection/components/HomeView/WindowSensor/index.js
  src/routes/windows-protection/components/HomeView/index.js
  src/routes/windows-protection/components/NavBar/NavBar.css
  src/routes/windows-protection/components/NavBar/NavBar.js
  src/routes/windows-protection/components/NavBar/index.js
  src/routes/windows-protection/components/Windows/WindowItem/Images/w-broken.png
  src/routes/windows-protection/components/Windows/WindowItem/Images/w-closed.png
  src/routes/windows-protection/components/Windows/WindowItem/Images/w-inactive.png
  src/routes/windows-protection/components/Windows/WindowItem/Images/w-open.png
  src/routes/windows-protection/components/Windows/WindowItem/WindowItem.css
  src/routes/windows-protection/components/Windows/WindowItem/WindowItem.js
  src/routes/windows-protection/components/Windows/WindowItem/index.js
  src/routes/windows-protection/components/Windows/Windows.css
  src/routes/windows-protection/components/Windows/Windows.js
  src/routes/windows-protection/components/Windows/index.js
  src/routes/windows-protection/index.js
  src/routes/windows-protection/test-window-data.json
  src/routes/windows-protection/test-window-sensors-data.json
  yarn.lock
Due: eslint --no-ignore --fix, git add --force, prettier --write, stylelint --fix

add redux-form to login component
  src/actions/login.js
  src/constants/index.js
  src/reducers/index.js
  src/reducers/login.js
  src/routes/login/Login.css
  src/routes/login/Login.js
  src/routes/login/components/CustomFieldLogin/CustomFieldLogin.css
  src/routes/login/components/CustomFieldLogin/CustomFieldLogin.js
  src/routes/login/components/Input.js
  src/routes/login/components/LoginButton.js
  yarn.lock
Due: eslint --no-ignore --fix, git add --force, stylelint --fix

restored login
  src/routes/index.js
Due: eslint --no-ignore --fix, git add --force

fixed
  package.json
  src/routes/movement-detection/Info/Info.js
  src/routes/movement-detection/Sensor/Sensor.js
  yarn.lock
Due: eslint --no-ignore --fix, git add --force, prettier --write

fixed routes/index
  src/routes/index.js
Due: eslint --no-ignore --fix, git add --force

update actions and event listeners
  .eslintrc.js
  package.json
  src/actions/security-chat.js
  src/initial-state.json
  src/routes/chat/Chat.js
  src/routes/chat/components/message/Message.js
  src/routes/chat/components/messages/Messages.js
  src/routes/dashboard/CustomField.test.js
  src/routes/dashboard/Dashboard.test.js
  src/routes/dashboard/SuperheroesForm.js
  src/routes/dashboard/SuperheroesForm.test.js
  src/routes/index.js
  yarn.lock
Due: eslint --no-ignore --fix, git add --force, prettier --write

add fetchAsync as utils
  src/actions/login.js
  src/routes/index.js
  src/routes/login/Login.js
  src/utils/fetch.js
Due: eslint --no-ignore --fix, git add --force

commit
  yarn.lock
Due: none

fixed remarks
  package.json
  src/reducers/index.js
  src/reducers/window-sensors.js
  src/routes/windows-protection/WindowsProtection.js
  src/routes/windows-protection/components/HomeView/HomeView.js
  src/routes/windows-protection/components/HomeView/WindowSensor/WindowSensor.css
  src/routes/windows-protection/components/HomeView/WindowSensor/WindowSensor.js
  src/routes/windows-protection/components/NavBar/NavBar.js
  src/routes/windows-protection/components/Windows/WindowItem/WindowItem.js
  src/routes/windows-protection/components/Windows/Windows.js
  src/routes/windows-protection/index.js
  yarn.lock
Due: eslint --no-ignore --fix, git add --force, prettier --write, stylelint --fix

add alert to form , add redux-form, redux
  src/actions/login.js
  src/constants/index.js
  src/reducers/login.js
  src/routes/login/Login.css
  src/routes/login/Login.js
  src/routes/login/components/Alert/Alert.js
  src/routes/login/components/CustomFieldLogin/CustomFieldLogin.js
  src/routes/login/components/LoginButton/LoginButton.js
  src/utils/create-expires-cookie.js
Due: eslint --no-ignore --fix, git add --force, stylelint --fix

Path conditions:
  eslint --no-ignore --fix: any of: *.{js,jsx}
  git add --force: ((any of: *.{js,jsx}) or (any of: *.{json,md,graphql})) or (any of: *.{css,less,styl,scss,sass,sss})
  prettier --write: any of: *.{json,md,graphql}
  stylelint --fix: any of: *.{css,less,styl,scss,sass,sss}
