Repository elifTech/vinnytsia-school-2020-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --no-ignore --fix, git add --force, prettier --write, stylelint --fix

.lintstagedrc:

{
    "*.{js,jsx}": [
      "eslint --no-ignore --fix",
      "git add --force"
    ],
    "*.{json,md,graphql}": [
      "prettier --write",
      "git add --force"
    ],
    "*.{css,less,styl,scss,sass,sss}": [
      "stylelint --fix",
      "git add --force"
    ]
}

proper engines
  package.json
Due: git add --force, prettier --write

fix build
  scripts/copy.js
  scripts/lib/fs.js
Due: eslint --no-ignore --fix, git add --force

+Procfile
  Procfile
Due: none

fixed procfile
  Procfile
Due: none

new procfile
  package.json
Due: git add --force, prettier --write

+source-map-support
  Procfile
  package.json
Due: git add --force, prettier --write

dynamic require for redux devtools
  Procfile
  src/store/configure-store.js
Due: eslint --no-ignore --fix, git add --force

build in prod mode
  package.json
Due: git add --force, prettier --write

babel regenerator runtime
  babel.config.js
  package.json
  yarn.lock
Due: eslint --no-ignore --fix, git add --force, prettier --write

fix audit
  package.json
  yarn.lock
Due: git add --force, prettier --write

+compression
  package.json
  src/server.js
  yarn.lock
Due: eslint --no-ignore --fix, git add --force, prettier --write

+regenerator-runtime
  package.json
  src/client.js
  yarn.lock
Due: eslint --no-ignore --fix, git add --force, prettier --write

preconnect to Google Fonts
  src/components/Html.js
Due: eslint --no-ignore --fix, git add --force

-react-router-dom
  package.json
  yarn.lock
Due: git add --force, prettier --write

enabled eslint-plugin-react
  .eslintrc.js
Due: eslint --no-ignore --fix, git add --force

+react/all eslint rules
  .eslintrc.js
  src/components/Html.js
  src/components/Style/Style.js
  src/server.js
Due: eslint --no-ignore --fix, git add --force

+eslint-plugin-eslint-comments
  .eslintrc.js
  package.json
  scripts/bundle.js
  scripts/deploy.js
  scripts/lib/cp.js
  scripts/lib/fs.js
  scripts/postcss.config.js
  scripts/run.js
  scripts/start.js
  src/components/Html.js
  src/components/WrappedApp.js
  src/config.js
  src/routes/index.js
  src/server.js
  yarn.lock
Due: eslint --no-ignore --fix, git add --force, prettier --write

fix lockfile
  yarn.lock
Due: none

lodash paranoid
  scripts/bundle.js
  scripts/deploy.js
  scripts/lib/webpack-hot-development-client.js
  scripts/run-server.js
  scripts/run.js
  scripts/start.js
  scripts/webpack.config.js
  src/client.js
  src/components/Html.js
  src/dom-utils.js
  src/router.js
  src/routes/index.js
  src/server.js
  src/store/configure-store.js
Due: eslint --no-ignore --fix, git add --force

create chat route
  src/routes/chat/Chat.css
  src/routes/chat/Chat.js
  src/routes/chat/index.js
  src/routes/index.js
Due: eslint --no-ignore --fix, git add --force, stylelint --fix

+jest
  .eslintrc.js
  .huskyrc
  jest.config.js
  package.json
  scripts/lib/file-transformer.js
  scripts/mocks/with-styles.js
  src/components/Link/Link.js
  src/components/Link/Link.test.js
  src/routes/dashboard/Dashboard.js
  yarn.lock
Due: eslint --no-ignore --fix, git add --force, prettier --write

more snapshots
  src/components/Layout/Layout.test.js
  src/routes/dashboard/Dashboard.test.js
  src/routes/error/ErrorPage.test.js
  src/routes/not-found/NotFound.test.js
Due: eslint --no-ignore --fix, git add --force

more tests
  src/components/Link/Link.js
  src/components/Link/Link.test.js
  src/router.js
Due: eslint --no-ignore --fix, git add --force

fixed lockfile
  yarn.lock
Due: none

fixed critical CSS rendering
  src/components/WrappedApp.js
  src/server.js
Due: eslint --no-ignore --fix, git add --force

auth route
  package.json
  src/routes/index.js
Due: eslint --no-ignore --fix, git add --force, prettier --write

auth branch
  src/routes/auth/Auth.css
  src/routes/auth/Auth.js
  src/routes/auth/index.js
Due: eslint --no-ignore --fix, git add --force, stylelint --fix

fix typo and rename auth to login
  src/routes/auth/index.js
  src/routes/index.js
  src/routes/login/Login.css
  src/routes/login/Login.js
  src/routes/login/index.js
Due: eslint --no-ignore --fix, git add --force, stylelint --fix

added online route
  src/routes/online-status/Online-status.css
  src/routes/online-status/Online-status.js
  src/routes/online-status/index.js
Due: eslint --no-ignore --fix, git add --force, stylelint --fix

Update Online-status.js
  src/routes/online-status/Online-status.js
Due: eslint --no-ignore --fix, git add --force

Update index.js
  src/routes/index.js
Due: eslint --no-ignore --fix, git add --force

better code in critical CSS rendering
  src/client.js
Due: eslint --no-ignore --fix, git add --force

+enzyme
  .eslintrc.js
  jest.config.js
  package.json
  setup-tests.js
  src/components/App.test.js
  src/components/Html.test.js
  src/components/Layout/Layout.test.js
  src/components/Link/Link.test.js
  src/components/Style/Style.test.js
  src/components/WrappedApp.test.js
  src/routes/dashboard/Dashboard.test.js
  src/routes/error/ErrorPage.test.js
  src/routes/not-found/NotFound.test.js
  yarn.lock
Due: eslint --no-ignore --fix, git add --force, prettier --write

reviewed output of eslint and fixed
  src/routes/chat/Chat.js
  src/routes/login/Login.css
  src/routes/login/Login.js
  src/routes/login/components/Button.js
  src/routes/login/components/Input.js
Due: eslint --no-ignore --fix, git add --force, stylelint --fix

trying to do my best as my teacher teach me: use capitalize lodash, rename component, fix direction to Layout
  src/routes/login/Login.js
  src/routes/login/components/Input.js
  src/routes/login/components/LoginButton.js
  src/routes/login/index.js
Due: eslint --no-ignore --fix, git add --force

fixed HMR
  scripts/lib/webpack-hot-development-client.js
  scripts/run.js
  scripts/start.js
  src/client.js
Due: eslint --no-ignore --fix, git add --force

jsx-max-depth 5
  .eslintrc.js
Due: eslint --no-ignore --fix, git add --force

+bootstrap
  package.json
  src/components/Layout/Layout.js
  yarn.lock
Due: eslint --no-ignore --fix, git add --force, prettier --write

redux example
  src/actions/as.js
  src/actions/calc-table.js
  src/components/Layout/Layout.test.js
  src/constants/index.js
  src/initial-state.json
  src/reducers/as.js
  src/reducers/calc-table.js
  src/reducers/index.js
  src/routes/dashboard/Cell.js
  src/routes/dashboard/Dashboard.css
  src/routes/dashboard/Dashboard.js
  src/routes/dashboard/Dashboard.test.js
  src/routes/dashboard/Row.js
  src/server.js
Due: eslint --no-ignore --fix, git add --force, prettier --write, stylelint --fix

regenerator-runtime
  scripts/webpack.config.js
Due: eslint --no-ignore --fix, git add --force
