Repository elifTech/vinnytsia-school-2020-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --no-ignore --fix, git add --force, prettier --write, stylelint --fix

.lintstagedrc:

{
    "*.{js,jsx}": [
      "eslint --no-ignore --fix",
      "git add --force"
    ],
    "*.{json,md,graphql}": [
      "prettier --write",
      "git add --force"
    ],
    "*.{css,less,styl,scss,sass,sss}": [
      "stylelint --fix",
      "git add --force"
    ]
}

proper API url
  src/actions/as.js
Due: eslint --no-ignore --fix, git add --force

creat component Message, Messages, ChatInput
  src/routes/chat/Chat.css
  src/routes/chat/Chat.js
  src/routes/chat/components/chatInput/ChatInput.css
  src/routes/chat/components/chatInput/ChatInput.js
  src/routes/chat/components/chatInput/index.js
  src/routes/chat/components/message/Message.css
  src/routes/chat/components/message/Message.js
  src/routes/chat/components/message/index.js
  src/routes/chat/components/messages/Messages.js
  src/routes/chat/components/messages/index.js
  src/routes/chat/testData.json
Due: eslint --no-ignore --fix, git add --force, prettier --write, stylelint --fix

add first version of redux for chat
  src/actions/security-chat.js
  src/constants/index.js
  src/reducers/index.js
  src/reducers/security-chat.js
  src/routes/chat/Chat.js
  src/routes/chat/components/chatInput/ChatInput.js
  src/routes/chat/components/messages/Messages.js
Due: eslint --no-ignore --fix, git add --force

fixed bootstrap
  jest.config.js
  scripts/mocks/with-styles.js
  src/components/Html.js
  src/components/Layout/Layout.js
  src/components/Link/Link.js
  src/routes/chat/Chat.js
  src/routes/dashboard/Dashboard.js
  src/routes/error/ErrorPage.js
  src/routes/login/Login.js
  src/routes/not-found/NotFound.js
Due: eslint --no-ignore --fix, git add --force

initial commit
  package-lock.json
  src/routes/index.js
  src/routes/movement-sensors/Aside/Aside.css
  src/routes/movement-sensors/Aside/Aside.js
  src/routes/movement-sensors/Sensor/Sensor.css
  src/routes/movement-sensors/Sensor/Sensor.js
  src/routes/movement-sensors/Sensors.css
  src/routes/movement-sensors/Sensors.js
  src/routes/movement-sensors/assets/houseplan.jpg
  src/routes/movement-sensors/index.js
Due: eslint --no-ignore --fix, git add --force, prettier --write, stylelint --fix

added new functional
  src/routes/movement-sensors/Aside/Aside.css
  src/routes/movement-sensors/Aside/Aside.js
  src/routes/movement-sensors/Sensor/Sensor.css
  src/routes/movement-sensors/Sensor/Sensor.js
  src/routes/movement-sensors/Sensors.css
  src/routes/movement-sensors/Sensors.js
  src/routes/movement-sensors/assets/sensor.svg
Due: eslint --no-ignore --fix, git add --force, stylelint --fix

update
  src/routes/index.js
  src/routes/movement-detection/Aside/Aside.css
  src/routes/movement-detection/Aside/Aside.js
  src/routes/movement-detection/Sensor/Sensor.css
  src/routes/movement-detection/Sensor/Sensor.js
  src/routes/movement-detection/Sensors.css
  src/routes/movement-detection/Sensors.js
  src/routes/movement-detection/assets/houseplan.jpg
  src/routes/movement-detection/assets/sensor.svg
  src/routes/movement-detection/index.js
Due: eslint --no-ignore --fix, git add --force, stylelint --fix

added react-draggable to package.json
  package.json
Due: git add --force, prettier --write

fixed
  src/routes/movement-detection/Aside/Aside.js
  src/routes/movement-detection/Sensor/Sensor.js
  src/routes/movement-detection/Sensors.js
Due: eslint --no-ignore --fix, git add --force

add axios, socket, integrate with server, create component Avatar messagesStatus
  package.json
  src/actions/security-chat.js
  src/constants/index.js
  src/reducers/index.js
  src/reducers/security-chat.js
  src/routes/chat/Chat.css
  src/routes/chat/Chat.js
  src/routes/chat/components/avatar/Avatar.css
  src/routes/chat/components/avatar/Avatar.js
  src/routes/chat/components/avatar/index.js
  src/routes/chat/components/message/Message.css
  src/routes/chat/components/message/Message.js
  src/routes/chat/components/messageStatus/MessageStatus.js
  src/routes/chat/components/messageStatus/assets/noreaded.svg
  src/routes/chat/components/messageStatus/assets/readed.svg
  src/routes/chat/components/messages/Messages.js
  src/routes/chat/testData.json
  src/utils/api/axios.js
  src/utils/api/messages-api.js
  src/utils/socket.js
  yarn.lock
Due: eslint --no-ignore --fix, git add --force, prettier --write, stylelint --fix

with fixet bootstrap of master
  jest.config.js
  src/components/Html.js
  src/components/Layout/Layout.js
  src/components/Link/Link.js
  src/routes/chat/Chat.js
  src/routes/dashboard/Dashboard.js
  src/routes/error/ErrorPage.js
  src/routes/login/Login.js
  src/routes/not-found/NotFound.js
Due: eslint --no-ignore --fix, git add --force

changes after merging with master, fix differends
  src/routes/chat/Chat.js
Due: eslint --no-ignore --fix, git add --force

Fix vulnerabilities. Master remarks corrected, change axios to node-fetch
  package.json
  src/actions/security-chat.js
  src/reducers/chat.js
  src/reducers/index.js
  src/routes/chat/Chat.js
  src/routes/chat/components/avatar/Avatar.js
  src/routes/chat/components/chatInput/ChatInput.css
  src/routes/chat/components/chatInput/ChatInput.js
  src/routes/chat/components/message/Message.css
  src/routes/chat/components/message/Message.js
  src/routes/chat/components/messageStatus/IconMessageStatus.js
  src/routes/chat/components/messageStatus/MessageStatus.js
  src/routes/chat/components/messageStatus/assets/noread.svg
  src/routes/chat/components/messageStatus/assets/read.svg
  src/routes/chat/components/messages/Messages.js
  src/utils/api/axios.js
  src/utils/api/messages-api.js
  yarn.lock
Due: eslint --no-ignore --fix, git add --force, prettier --write, stylelint --fix

csso instead of cssnano
  package.json
  scripts/postcss.config.js
  yarn.lock
Due: eslint --no-ignore --fix, git add --force, prettier --write

eslint-plugin-postss-modules
  .eslintrc.js
  package.json
  yarn.lock
Due: eslint --no-ignore --fix, git add --force, prettier --write

-eslint-loader
  package.json
  scripts/postcss.config.js
  yarn.lock
Due: eslint --no-ignore --fix, git add --force, prettier --write

-audit
  .huskyrc
Due: none

add csso instead of cssnano
  package.json
  scripts/postcss.config.js
  yarn.lock
Due: eslint --no-ignore --fix, git add --force, prettier --write

eslint-plugin-postss-modules
  package.json
  scripts/postcss.config.js
  yarn.lock
Due: eslint --no-ignore --fix, git add --force, prettier --write

update chat reducer
  src/reducers/chat.js
  src/routes/chat/Chat.js
  src/routes/chat/components/message/Message.js
Due: eslint --no-ignore --fix, git add --force

update yarn.lock and classNames in component Message
  src/routes/chat/components/message/Message.js
  yarn.lock
Due: eslint --no-ignore --fix, git add --force

add default state in reducer
  src/reducers/chat.js
  src/routes/chat/Chat.js
  src/routes/chat/components/message/Message.js
Due: eslint --no-ignore --fix, git add --force

regenerate yarn.lock
  yarn.lock
Due: none

Updated Yarn lockfile
  yarn.lock
Due: none

online
  src/client.js
  src/routes/index.js
  src/routes/online-status/Online-status.js
  src/routes/online-status/index.js
  src/routes/online-status/online-status.js
Due: eslint --no-ignore --fix, git add --force

add check of user, connect Avatar, used userData from server
  src/actions/security-chat.js
  src/reducers/chat.js
  src/routes/chat/Chat.js
  src/routes/chat/components/avatar/Avatar.js
  src/routes/chat/components/message/Message.css
  src/routes/chat/components/message/Message.js
  src/routes/chat/components/messages/Messages.js
Due: eslint --no-ignore --fix, git add --force, stylelint --fix

optimized chat reducer and action is_typing
  src/actions/security-chat.js
  src/reducers/chat.js
  src/routes/chat/Chat.js
Due: eslint --no-ignore --fix, git add --force

added window-sensors route, WindowSensors and WindowSensor component
  src/routes/index.js
  src/routes/window-sensors/WindowSensors.css
  src/routes/window-sensors/WindowSesors.js
  src/routes/window-sensors/components/Icons/w-broken.png
  src/routes/window-sensors/components/Icons/w-closed.png
  src/routes/window-sensors/components/Icons/w-inactive.png
  src/routes/window-sensors/components/Icons/w-open.png
  src/routes/window-sensors/components/WindowSensor.css
  src/routes/window-sensors/components/WindowSensor.js
  src/routes/window-sensors/index.js
  src/routes/window-sensors/test-window-data.json
  yarn.lock
Due: eslint --no-ignore --fix, git add --force, prettier --write, stylelint --fix

relocate cheking user in Message component
  src/routes/chat/components/message/Message.js
  src/routes/chat/components/messages/Messages.js
Due: eslint --no-ignore --fix, git add --force

+ redux for WindowSensors
  src/actions/window-sensors.js
  src/constants/index.js
  src/reducers/index.js
  src/reducers/window-sensors.js
  src/routes/window-sensors/WindowSesors.js
Due: eslint --no-ignore --fix, git add --force

add editing and deleting messages
  src/actions/security-chat.js
  src/constants/index.js
  src/reducers/chat.js
  src/routes/chat/Chat.js
  src/routes/chat/components/chatInput/ChatInput.js
  src/routes/chat/components/message/Message.css
  src/routes/chat/components/message/Message.js
  src/routes/chat/components/message/assets/deleticon.svg
  src/routes/chat/components/messages/Messages.js
  src/routes/chat/testData.json
Due: eslint --no-ignore --fix, git add --force, prettier --write, stylelint --fix

hot fix doble socket.emit
  src/routes/chat/Chat.js
Due: eslint --no-ignore --fix, git add --force

redux-form example
  package.json
  src/actions/.keep
  src/actions/as.js
  src/actions/calc-table.js
  src/reducers/as.js
  src/reducers/calc-table.js
  src/reducers/index.js
  src/routes/dashboard/Cell.js
  src/routes/dashboard/CustomField.js
  src/routes/dashboard/Dashboard.css
  src/routes/dashboard/Dashboard.js
  src/routes/dashboard/Row.js
  src/routes/dashboard/SuperheroesForm.css
  src/routes/dashboard/SuperheroesForm.js
  src/routes/index.js
  yarn.lock
Due: eslint --no-ignore --fix, git add --force, prettier --write, stylelint --fix

renamed variables, add generation temporery id and date for new message
  src/actions/security-chat.js
  src/reducers/chat.js
  src/routes/chat/Chat.js
  src/routes/chat/components/avatar/Avatar.css
  src/routes/chat/components/chatInput/ChatInput.js
  src/routes/chat/components/message/Message.css
  src/routes/chat/components/message/Message.js
  src/routes/chat/components/message/components/ImageAttachment.css
  src/routes/chat/components/message/components/ImageAttachment.js
  src/routes/chat/components/messages/Messages.js
Due: eslint --no-ignore --fix, git add --force, stylelint --fix

fixed remarks, added redux state and new functional
  package-lock.json
  src/actions/movementDetections/img.js
  src/actions/movementDetections/sensors.js
  src/constants/index.js
  src/reducers/index.js
  src/reducers/movement-detection.js
  src/routes/index.js
  src/routes/movement-detection/Aside/Aside.css
  src/routes/movement-detection/Aside/Aside.js
  src/routes/movement-detection/Info/Info.css
  src/routes/movement-detection/Info/Info.js
  src/routes/movement-detection/MovementDetection.css
  src/routes/movement-detection/MovementDetection.js
  src/routes/movement-detection/Sensor/ContextMenu/ContextMenu.css
  src/routes/movement-detection/Sensor/ContextMenu/ContextMenu.js
  src/routes/movement-detection/Sensor/Sensor.css
  src/routes/movement-detection/Sensor/Sensor.js
  src/routes/movement-detection/Sensors.js
  src/routes/movement-detection/index.js
  yarn.lock
Due: eslint --no-ignore --fix, git add --force, prettier --write, stylelint --fix

fix conflicts
  package.json
  yarn.lock
Due: git add --force, prettier --write

useStyles added
  package-lock.json
  package.json
  src/routes/online-status/OnlineStatus.css
  src/routes/online-status/OnlineStatus.js
  src/routes/online-status/index.js
  yarn.lock
Due: eslint --no-ignore --fix, git add --force, prettier --write, stylelint --fix

fixed remarks
  src/routes/movement-detection/Aside/Aside.js
  src/routes/movement-detection/Info/Info.js
  src/routes/movement-detection/MovementDetection.js
  src/routes/movement-detection/Sensor/ContextMenu/ContextMenu.js
  src/routes/movement-detection/Sensor/Sensor.js
Due: eslint --no-ignore --fix, git add --force
